<fieldset>
	<legend>ADDRESS</legend>
	<form name="form_address">
		<input type="text" name="address" ng-model="address" required="" ngx-address-input ngx-address-geomap="#address_map" placeholder="{{placeholder('ulice, město, stát','město, stát')}}" style="width: 98%" />
		<img id="address_spinner" ng-show="form_address.address.loading" src="http://www.jobs.cz/images/preloader.gif"/>
		<ngx-invalid input="form_address.address" error="required">
			NO ADDRESS
		</ngx-invalid>
		<ngx-invalid input="form_address.address" error="number">
			NO STREET NUMBER
		</ngx-invalid>
		<ngx-invalid input="form_address.address" error="found_number">
			<ng-switch on="form_address.address.$error.found">
                        <span ng-switch-when="true">
                            NOT FOUND
                        </span>
                        <span ng-switch-default="">
                            NOT FOUND WITH NUMBER
                        </span>
			</ng-switch>
		</ngx-invalid>
	</form>
	<div ngx-geomap id="address_map" style="width: 500px; height: 250px; margin-top: 10px"></div>
	<pre>
		{{address|json}}
	</pre>
</fieldset>