<form name="scroll_to_invalid_form" novalidate>
	<fieldset>
		<legend>
			Scroll to invalid example
		</legend>
		<p>
			<strong>
				Page will scroll to the first invalid element of the form by click to element with attr ngx-scroll-to-invalid (mostly submit button). 
			</strong>
		</p>
		<div class="control-group">
			<div class="controls">
				<label>
					Name: <input type="text" ng-model="name" required name="name">
				</label>
				<span ngx-invalid="scroll_to_invalid_form.name required" class="help-inline">Please fill the name</span>
			</div>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque, urna at consequat consectetur, orci magna viverra libero, ac consectetur nisl tortor id nulla. Quisque adipiscing tristique diam. Nunc porttitor dui nec interdum eleifend. Praesent ornare nec nulla a porta. Sed sed nibh et nulla consequat malesuada. Suspendisse malesuada facilisis tortor vitae laoreet. In aliquam rhoncus elit, id pellentesque risus pretium at. Quisque imperdiet ultrices arcu ac porta.
		</p>
		<p>
			Morbi ut urna a felis accumsan congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed justo et justo porta imperdiet. Nullam quis tellus lorem. Maecenas nec volutpat lorem, ac gravida nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et nibh vitae mauris vehicula rutrum.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque, urna at consequat consectetur, orci magna viverra libero, ac consectetur nisl tortor id nulla. Quisque adipiscing tristique diam. Nunc porttitor dui nec interdum eleifend. Praesent ornare nec nulla a porta. Sed sed nibh et nulla consequat malesuada. Suspendisse malesuada facilisis tortor vitae laoreet. In aliquam rhoncus elit, id pellentesque risus pretium at. Quisque imperdiet ultrices arcu ac porta.
		</p>
		<p>
			Curabitur bibendum sapien at neque sodales mollis. Proin aliquam sem in facilisis consectetur. In hac habitasse platea dictumst. Curabitur in risus dolor. Etiam varius aliquam eleifend. Etiam et dolor vulputate, cursus orci id, fringilla ligula. Nulla vel mollis nunc. Mauris sit amet nunc eu libero rutrum tristique non a tortor. Vivamus et libero eget arcu pharetra commodo.
		</p>
		<p>
			Morbi ut urna a felis accumsan congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed justo et justo porta imperdiet. Nullam quis tellus lorem. Maecenas nec volutpat lorem, ac gravida nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et nibh vitae mauris vehicula rutrum.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque, urna at consequat consectetur, orci magna viverra libero, ac consectetur nisl tortor id nulla. Quisque adipiscing tristique diam. Nunc porttitor dui nec interdum eleifend. Praesent ornare nec nulla a porta. Sed sed nibh et nulla consequat malesuada. Suspendisse malesuada facilisis tortor vitae laoreet. In aliquam rhoncus elit, id pellentesque risus pretium at. Quisque imperdiet ultrices arcu ac porta.
		</p>
		<p>
			Curabitur bibendum sapien at neque sodales mollis. Proin aliquam sem in facilisis consectetur. In hac habitasse platea dictumst. Curabitur in risus dolor. Etiam varius aliquam eleifend. Etiam et dolor vulputate, cursus orci id, fringilla ligula. Nulla vel mollis nunc. Mauris sit amet nunc eu libero rutrum tristique non a tortor. Vivamus et libero eget arcu pharetra commodo.
		</p>
		<p>
			Morbi ut urna a felis accumsan congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed justo et justo porta imperdiet. Nullam quis tellus lorem. Maecenas nec volutpat lorem, ac gravida nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et nibh vitae mauris vehicula rutrum.
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque, urna at consequat consectetur, orci magna viverra libero, ac consectetur nisl tortor id nulla. Quisque adipiscing tristique diam. Nunc porttitor dui nec interdum eleifend. Praesent ornare nec nulla a porta. Sed sed nibh et nulla consequat malesuada. Suspendisse malesuada facilisis tortor vitae laoreet. In aliquam rhoncus elit, id pellentesque risus pretium at. Quisque imperdiet ultrices arcu ac porta.
		</p>
		<p>
			Curabitur bibendum sapien at neque sodales mollis. Proin aliquam sem in facilisis consectetur. In hac habitasse platea dictumst. Curabitur in risus dolor. Etiam varius aliquam eleifend. Etiam et dolor vulputate, cursus orci id, fringilla ligula. Nulla vel mollis nunc. Mauris sit amet nunc eu libero rutrum tristique non a tortor. Vivamus et libero eget arcu pharetra commodo.
		</p>
		<p>
			Morbi ut urna a felis accumsan congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed justo et justo porta imperdiet. Nullam quis tellus lorem. Maecenas nec volutpat lorem, ac gravida nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et nibh vitae mauris vehicula rutrum.
		</p>
		<input type="submit" value="Send form" ngx-scroll-to-invalid>
	</fieldset>
</form>
<div class="space"></div>