<fieldset>
	<legend>Example using Seznam maps API</legend>
	<form name="form_address">
		<label>Address with house number:</label>
		<input type="text" name="address" ng-model="address" ngx-address-input ngx-allowed-types="firm" data-geomap="#map_canvas" />
		<img id="address_spinner" ng-show="form_address.address.loading" src="http://www.jobs.cz/images/preloader.gif"/>
		<div ngx-invalid="form_address.address found_number">
			Address not found
		</div>
	</form>
	<div ngx-geomap id="map_canvas" style="width: 500px; height: 250px"></div>
</fieldset>
<pre ng-show="address">{{address|json}}</pre>
