<fieldset>
	<legend>Example</legend>
	<h3>
		Default implementation
	</h3>
	<pre>
&lt;div ngx-text-curtain&gt;
...
&lt;/div&gt;
	</pre>
	<div ngx-text-curtain>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis facilisis vehicula justo id vestibulum. Phasellus in posuere nunc. Cras in ligula sem. Etiam congue consectetur justo, id tempor massa sodales sed.
		</p>
		<p>
			Aliquam sed turpis eu augue vehicula scelerisque. Curabitur posuere lorem a turpis fermentum ac volutpat tellus semper. Nam nec aliquam ante. Nulla vitae urna at lectus sagittis auctor. Etiam sed magna mi, lacinia dignissim neque. Nunc vel mi magna. Praesent dignissim vestibulum malesuada. Pellentesque ac nisi quis nulla hendrerit blandit. Lorem ipsum dolor sit amet.
		</p>
		<p>
			Nullam ac lorem id urna accumsan pharetra. Vestibulum blandit lectus at quam condimentum mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque dolor. Aliquam eget justo magna, at sodales orci. Donec suscipit accumsan sapien, eget porttitor magna lobortis scelerisque. Vestibulum quis augue nibh. Maecenas vehicula nisl vel risus congue lobortis id sit amet mauris. Pellentesque accumsan eleifend hendrerit.
		</p>
		<p>
			Ut ut nibh est. Mauris felis urna, vehicula in dapibus eget, adipiscing vel neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi imperdiet pulvinar ultrices. Donec ac magna ipsum. Nunc feugiat vestibulum dolor, in feugiat dolor ultricies eget. Morbi vel est est, ac ullamcorper augue. Praesent tempus lectus a nibh cursus malesuada. Suspendisse potenti.
		</p>
	</div>
	<h3>
		Localization
	</h3>
		<pre>
&lt;div ngx-text-curtain
     curtain-min-height="200"
     curtain-text="zobrazit více"
     curtain-text-hide="zobrazit méně"&gt;
	...
&lt;/div&gt;
		</pre>
	<div ngx-text-curtain curtain-min-height="200" curtain-text="zobrazit více" curtain-text-hide="zobrazit méně">
		<p>
			Hudby ocích! Řeknete vliv odnášel do rostoucí? Úlevy vy krk tomhle krátí uf tří třetího. Tvá jí potě klada s prý kamarádil? Nu 77 pán věřící 471 jí pivo, domu kamzíky, šéfa sní železem vykonán by pravé té koleno. Ni mu klíč co krysám jsem 81 argumentů. Co lid karé milí nachystali to ať počíná spolehni švunk vysokou.
		</p>
		<ul>
			<li>Ví paty tos drahý pokdy fakta styků ó šatstvo.</li>
			<li>Zácpy pilně to do potká dvě oč ne ó spor byt novinu té hnalo brát vyrušila trestal vystrojí i zemřeli příkladně a smola.</li>
			<li>19 té 77 pugét řády.</li>
			<li>Nato krvi via.</li>
			<li>Oběma mozek muzeu mne u světlá rodinný myslím.</li>
		</ul>
	</div>

    <h3>
        Localization with hide end
    </h3>
		<pre>
&lt;div ngx-text-curtain
     curtain-min-height="200"
     curtain-hide-false
     curtain-text="zobrazit více"
     curtain-text-hide="zobrazit méně"&gt;
	...
&lt;/div&gt;
		</pre>
    <div ngx-text-curtain curtain-min-height="200" curtain-text="zobrazit více" curtain-text-hide="zobrazit méně" curtain-hide-false>
        <p>
            Hudby ocích! Řeknete vliv odnášel do rostoucí? Úlevy vy krk tomhle krátí uf tří třetího. Tvá jí potě klada s prý kamarádil? Nu 77 pán věřící 471 jí pivo, domu kamzíky, šéfa sní železem vykonán by pravé té koleno. Ni mu klíč co krysám jsem 81 argumentů. Co lid karé milí nachystali to ať počíná spolehni švunk vysokou.
        </p>
        <ul>
            <li>Ví paty tos drahý pokdy fakta styků ó šatstvo.</li>
            <li>Zácpy pilně to do potká dvě oč ne ó spor byt novinu té hnalo brát vyrušila trestal vystrojí i zemřeli příkladně a smola.</li>
            <li>19 té 77 pugét řády.</li>
            <li>Nato krvi via.</li>
            <li>Oběma mozek muzeu mne u světlá rodinný myslím.</li>
        </ul>
    </div>
</fieldset>