* {
    font: 12pt Arial;
    margin: 0;
    padding: 0;
}
fieldset {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
}
legend {
    font-weight: bold
}
pre {
    background-color: #fefefe;
    padding: 10px;
    font: 12pt "Courier New";
    margin-top: 10px;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}

#demo-modules {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 180px;
    padding: 10px;
    background-color: #e8e8e8;
    box-shadow: 3px 3px 5px #888;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
}
#demo-modules ul {
    list-style: none;
}
#demo-modules ul li {
    padding: 7px 20px;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 8px;
}
#demo-modules ul li.selected {
    cursor: default;
    box-shadow: 1px 1px 3px #888;
}
#demo-modules ul li.selected strong {
    font-weight: bold;
}
#demo-content {
    margin-left: 230px;
    margin-right: 20px;
}