/* hide webkit html5 spin button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* reset firefox invalid input style */
input:invalid, textarea:invalid {
    -moz-box-shadow: none;
    box-shadow: none;
}

* {
    font: 12pt Arial;
    margin: 0;
    padding: 0;
}
a img {
    border: 0;
}
fieldset {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 10px;
}
legend {
    font-weight: bold
}
pre {
    background-color: #fefefe;
    padding: 10px;
    font: 12pt "Courier New";
    margin-top: 10px;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
}


.ngx-ui-tagsInput div.tagsinput {
    background: url('images/sprite.png') no-repeat scroll right -607px #FFFFFF;
}
.ngx-ui-tagsInput div.tagsinput span.tag span {
    font-size: 11px;
}
.ngx-ui-tagsInput div.tagsinput span.tag a {
    background: url('images/icons.png') no-repeat scroll 0 -441px transparent;
}
.ngx-ui-addressInput input[name="address"] {
    width: 98%;
}
.ngx-ui-addressInput #address_map {
    margin-top: 10px;
}
.ngx-ui-imageupload img {
    display: block;
}
.ngx-ui-scrollTo .space {
    height: 1000px;
}
.ngx-ui-dateInput input[ngx-date-input] {
    width: 100px;
}
.ngx-ui-dateInput input[ngx-time-input] {
    width: 50px;
}
