/* hide webkit html5 spin button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* reset firefox invalid input style */
input:invalid, textarea:invalid {
    -moz-box-shadow: none;
    box-shadow: none;
}

a img {
    border: 0;
}

fieldset {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    margin: 30px 0 0 0;
    padding: 39px 19px 14px;
    position: relative;
}
fieldset fieldset {
    margin: 0 0 10px 0;
    padding-top: 0;
}
fieldset ~ pre {
    margin-top: -4px;
    padding-top: 12px;
}
legend {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
    width: auto;
    line-height: 150%;
}

.header {
    background: url('images/bg.png') repeat-x;
    margin-bottom: 30px;
    color: white;
}
.header p {
    color: #ccc;
}
.header a {
    color: white;
    text-decoration: underline;
}
h1 {
    font-size: 30pt;
    color: white;
    margin-top: 18px;
}

.ngx-invalid {
    border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 2px;
}
.ngx-ui-tagsInput div.tagsinput {
    background: url('images/sprite.png') no-repeat scroll right -607px #FFFFFF;
}
.ngx-ui-tagsInput div.tagsinput span.tag span {
    font-size: 11px;
}
.ngx-ui-tagsInput div.tagsinput span.tag a {
    background: url('images/icons.png') no-repeat scroll 0 -441px transparent;
}
.ngx-ui-addressInput input[name="address"] {
    width: 98%;
}
.ngx-ui-addressInput #address_map {
    margin-top: 10px;
}
.ngx-ui-imageupload img {
    display: block;
    margin-top: 20px;
}
.ngx-ui-scrollTo .space {
    height: 1000px;
}
.ngx-ui-dateInput input[ngx-date-input] {
    width: 100px;
}
.ngx-ui-dateInput input[ngx-time-input] {
    width: 50px;
}
.ngx-ui-rating-image li {
    background: url('images/stars_18x18.png') 0 -18px no-repeat;
    padding: 0;
    width: 18px;
    height: 18px;
}
.ngx-ui-rating-image li.ngx-rating-selected,
.ngx-ui-rating-image li.ngx-rating-hover {
    background-position: 0 0;
}
